In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# Any results you write to the current directory are saved as output.

/kaggle/input/train (1).csv

In [2]:
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

**read the csv file using pandas.**

In [3]:
tr=pd.read_csv('../input/train (1).csv')

In [4]:
## first 5 rows of training data
tr.head()

,Unnamed: 0,ID,ID_status,active,count_reassign,count_opening,count_updated,ID_caller,opened_by,opened_time,...,category_ID,user_symptom,Support_group,support_incharge,Doc_knowledge,confirmation_check,impact,notify,problem_ID,change_request
0,1,INC0000045,New,True,0,0,0,Caller 2403,Opened by 8,29-02-2016 01:16,...,Category 55,Symptom 72,Group 56,?,True,False,2 - Medium,Do Not Notify,?,?
1,3,INC0000045,Resolved,True,0,0,3,Caller 2403,Opened by 8,29-02-2016 01:16,...,Category 55,Symptom 72,Group 56,?,True,False,2 - Medium,Do Not Notify,?,?
2,4,INC0000045,Closed,False,0,0,4,Caller 2403,Opened by 8,29-02-2016 01:16,...,Category 55,Symptom 72,Group 56,?,True,False,2 - Medium,Do Not Notify,?,?
3,6,INC0000047,Active,True,1,0,1,Caller 2403,Opened by 397,29-02-2016 04:40,...,Category 40,Symptom 471,Group 24,Resolver 31,True,False,2 - Medium,Do Not Notify,?,?
4,7,INC0000047,Active,True,1,0,2,Caller 2403,Opened by 397,29-02-2016 04:40,...,Category 40,Symptom 471,Group 24,Resolver 31,True,False,2 - Medium,Do Not Notify,?,?

In [5]:
## Number of rows and columns of training data
tr.shape

(99198, 26)

In [6]:
## column names
tr.columns

Index(['Unnamed: 0', 'ID', 'ID_status', 'active', 'count_reassign',
       'count_opening', 'count_updated', 'ID_caller', 'opened_by',
       'opened_time', 'Created_by', 'created_at', 'updated_by', 'updated_at',
       'type_contact', 'location', 'category_ID', 'user_symptom',
       'Support_group', 'support_incharge', 'Doc_knowledge',
       'confirmation_check', 'impact', 'notify', 'problem_ID',
       'change_request'],
      dtype='object')

In [7]:
## Number of distinct observations
tr.nunique()

Unnamed: 0            99198
ID                    24569
ID_status                 9
active                    2
count_reassign           28
count_opening             9
count_updated           113
ID_caller              5223
opened_by               208
opened_time           19620
Created_by              186
created_at            11485
updated_by              751
updated_at            43003
type_contact              5
location                225
category_ID              57
user_symptom            516
Support_group            78
support_incharge        232
Doc_knowledge             2
confirmation_check        2
impact                    3
notify                    2
problem_ID              242
change_request          178
dtype: int64

In [8]:
## find missing values in each column
tr.isna().sum()

Unnamed: 0            0
ID                    0
ID_status             0
active                0
count_reassign        0
count_opening         0
count_updated         0
ID_caller             0
opened_by             0
opened_time           0
Created_by            0
created_at            0
updated_by            0
updated_at            0
type_contact          0
location              0
category_ID           0
user_symptom          0
Support_group         0
support_incharge      0
Doc_knowledge         0
confirmation_check    0
impact                0
notify                0
problem_ID            0
change_request        0
dtype: int64

In [9]:
## Basic statistical details of data
tr.describe()

          Unnamed: 0  count_reassign  count_opening  count_updated
count   99198.000000    99198.000000   99198.000000   99198.000000
mean    70820.997843        1.110426       0.022289       5.096857
std     40938.839626        1.751588       0.211605       7.748275
min         1.000000        0.000000       0.000000       0.000000
25%     35382.750000        0.000000       0.000000       1.000000
50%     70840.500000        1.000000       0.000000       3.000000
75%    106231.500000        1.000000       0.000000       6.000000
max    141711.000000       27.000000       8.000000     128.000000

In [10]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()

In [11]:
## fit_transform function is one the feature extraction for text analysis.
tr['ID_status'] = le.fit_transform(tr['ID_status'])
tr['active'] = le.fit_transform(tr['active'])
tr['count_reassign'] = le.fit_transform(tr['count_reassign'])
tr['count_opening'] = le.fit_transform(tr['count_opening'])

tr['type_contact'] = le.fit_transform(tr['type_contact'])
tr['category_ID'] = le.fit_transform(tr['category_ID'])
tr['Doc_knowledge'] = le.fit_transform(tr['Doc_knowledge'])
tr['notify'] = le.fit_transform(tr['notify'])

tr['confirmation_check'] = le.fit_transform(tr['confirmation_check'])
tr['impact'] = le.fit_transform(tr['impact'])
tr['ID'] = le.fit_transform(tr['ID'])
tr['count_updated'] = le.fit_transform(tr['count_updated'])

tr['ID_caller'] = le.fit_transform(tr['ID_caller'])
tr['opened_by'] = le.fit_transform(tr['opened_by'])
tr['updated_by'] = le.fit_transform(tr['updated_by'])
tr['opened_time'] = le.fit_transform(tr['opened_time'])

tr['Created_by'] = le.fit_transform(tr['Created_by'])
tr['created_at'] = le.fit_transform(tr['created_at'])
tr['updated_at'] = le.fit_transform(tr['updated_at'])
tr['opened_time'] = le.fit_transform(tr['opened_time'])

tr['location'] = le.fit_transform(tr['location'])
tr['user_symptom'] = le.fit_transform(tr['user_symptom'])
tr['Support_group'] = le.fit_transform(tr['Support_group'])
tr['support_incharge'] = le.fit_transform(tr['support_incharge'])

tr['problem_ID'] = le.fit_transform(tr['problem_ID'])
tr['change_request'] = le.fit_transform(tr['change_request'])

In [12]:
## first 5 rows of training data after preprocessing
tr.head()

,Unnamed: 0,ID,ID_status,active,count_reassign,count_opening,count_updated,ID_caller,opened_by,opened_time,...,category_ID,user_symptom,Support_group,support_incharge,Doc_knowledge,confirmation_check,impact,notify,problem_ID,change_request
0,1,0,7,1,0,0,0,1456,201,12833,...,45,492,47,0,1,0,1,0,0,0
1,3,0,8,1,0,0,3,1456,201,12833,...,45,492,47,0,1,0,1,0,0,0
2,4,0,6,0,0,0,4,1456,201,12833,...,45,492,47,0,1,0,1,0,0,0
3,6,1,1,1,1,0,1,1456,121,12834,...,30,345,15,165,1,0,1,0,0,0
4,7,1,1,1,1,0,2,1456,121,12834,...,30,345,15,165,1,0,1,0,0,0

In [13]:
col =['ID','ID_status','active','count_reassign','count_opening','count_updated','ID_caller','opened_by',
   'created_at','opened_time','Created_by','updated_by','updated_at','type_contact','location','category_ID',
     'user_symptom','Support_group','support_incharge','Doc_knowledge','confirmation_check','impact','notify','problem_ID','change_request']

In [14]:
tr = tr[col]

In [15]:
tr.head()

,ID,ID_status,active,count_reassign,count_opening,count_updated,ID_caller,opened_by,created_at,opened_time,...,category_ID,user_symptom,Support_group,support_incharge,Doc_knowledge,confirmation_check,impact,notify,problem_ID,change_request
0,0,7,1,0,0,0,1456,201,7364,12833,...,45,492,47,0,1,0,1,0,0,0
1,0,8,1,0,0,3,1456,201,7364,12833,...,45,492,47,0,1,0,1,0,0,0
2,0,6,0,0,0,4,1456,201,7364,12833,...,45,492,47,0,1,0,1,0,0,0
3,1,1,1,1,0,1,1456,121,7365,12834,...,30,345,15,165,1,0,1,0,0,0
4,1,1,1,1,0,2,1456,121,7365,12834,...,30,345,15,165,1,0,1,0,0,0

In [16]:
## Number of rows and columns of training data
tr.shape

(99198, 25)

In [17]:
## impact is to predict
y = tr['impact']
y

0        1
1        1
2        1
3        1
4        1
        ..
99193    1
99194    1
99195    1
99196    1
99197    1
Name: impact, Length: 99198, dtype: int64

In [18]:
## drop the columns impact and Created_by from training data
## here we drop impact, because it is taken as predict
## we drop Creared_by, because incident is not created by customer
tr.drop(['impact','Created_by'],axis=1,inplace=False)

,ID,ID_status,active,count_reassign,count_opening,count_updated,ID_caller,opened_by,created_at,opened_time,...,location,category_ID,user_symptom,Support_group,support_incharge,Doc_knowledge,confirmation_check,notify,problem_ID,change_request
0,0,7,1,0,0,0,1456,201,7364,12833,...,44,45,492,47,0,1,0,0,0,0
1,0,8,1,0,0,3,1456,201,7364,12833,...,44,45,492,47,0,1,0,0,0,0
2,0,6,0,0,0,4,1456,201,7364,12833,...,44,45,492,47,0,1,0,0,0,0
3,1,1,1,1,0,1,1456,121,7365,12834,...,63,30,345,15,165,1,0,0,0,0
4,1,1,1,1,0,2,1456,121,7365,12834,...,63,30,345,15,165,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99193,24567,8,1,1,0,3,166,10,11484,4587,...,105,32,361,23,1,0,1,0,0,0
99194,24567,6,0,1,0,4,166,10,11484,4587,...,105,32,361,23,1,0,1,0,0,0
99195,24568,1,1,0,0,0,166,10,11484,4588,...,105,32,361,63,1,0,0,0,0,0
99196,24568,1,1,1,0,1,166,10,11484,4588,...,105,32,361,23,0,0,0,0,0,0
99197,24568,8,1,1,0,2,166,10,11484,4588,...,105,32,361,23,1,0,1,0,0,0

**train_test_split**

In [19]:
from sklearn import linear_model
import numpy as np
from sklearn.model_selection import train_test_split

Split original dataset into train and test sets randomly.

In [20]:
xtrain,xtest,ytrain,ytest = train_test_split(tr,y,test_size=0.1,random_state=420)

In [21]:
model = linear_model.LogisticRegression()
mod = model.fit(xtrain,ytrain)
preds = mod.predict(xtest)

/opt/conda/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/opt/conda/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)
/opt/conda/lib/python3.6/site-packages/sklearn/svm/base.py:929: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

In [22]:
preds

array([1, 1, 1, ..., 1, 1, 1])

In [23]:
from sklearn.metrics import accuracy_score
accuracy_score(ytest,preds)

0.9502016129032258